.btn {
  background: linear-gradient(108.42deg, $btn-gradient 20.46%, $btn-yellow 65.31%);
  border-radius: 80px;
  border: none;
  outline: none;
  min-height: 59px;

  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  font-variant: small-caps;
  color: $white;
  text-shadow: 0 1px 4px $btn-shadow-012;
  cursor: pointer;

  &:hover {
    background: linear-gradient(109.15deg, $btn-gradient -50.3%, $btn-yellow 63.1%);
  }

  &:focus {
    background: linear-gradient(109.15deg, $btn-gradient -50.3%, $btn-yellow 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, $btn-shadow 30.67%, $btn-shadow-024 100%), linear-gradient(109.15deg, $btn-gradient -50.3%, $btn-yellow 63.1%);
  }
}
