.btn {
  background: linear-gradient(108.42deg, $btn-gradient 20.46%, $btn-yellow 65.31%);
  border-radius: 80px;
  border: none;
  outline: none;
  min-height: 59px;

  font-weight: 500;
  font-size: 17px;
  text-align: center;
  font-variant: small-caps;
  color: $white;
  text-shadow: 0 1px 4px $btn-shadow-012;
}
