.container {
  margin: 0 auto;
  max-width: 1145px;
}

@media (max-width: $tablet-width) {
  .container {
    width: 94%;
  }
}

@media (max-width: $width-mobile) {
  .container {
    width: 90%;
  }
}
