.contact {
  max-width: 1366px;
  margin: 0 auto;

  background-image: url("../img/backpack@1x.png"), url("../img/girl-flag-bg@1x.jpg");
  background-position: left 140px, right 5px;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px 260px, 60%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backpack@2x.png"), url("../img/girl-flag-bg@2x.jpg");
  }

  min-height: 594px;

  & h2 {
    @include title;
    margin-bottom: 24px;
    letter-spacing: -0.7px;
  }

  & p {
    font-size: 17px;
    line-height: 29px;
    max-width: 33%;
    opacity: 0.87;
  }
}

.contact__wrapper {
  margin-left: 15.3%;
  padding-top: 13.1%;
}

.contact__form-block {
  position: relative;
  margin-top: 65px;
  width: 477px;

  & input {
    font-family: $font-basic;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    letter-spacing: 0.5px;

    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 40px;
    min-height: 59px;
    width: 477px;
    border-radius: 80px;
    outline: none;
    border: 2px solid $border-input;
  }

  & .contact__form-input--tel {
    &::placeholder {
      width: 250px;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      font-variant: small-caps;
      font-family: $font-basic;
    }
  }

  & .contact__form-btn {
    position: absolute;
    top: 0;
    right: 0;

    height: 59px;
    width: 216px;

    letter-spacing: 0.5px;
    cursor: pointer;
  }

  & .contact__form-input {
    &:focus {
      background-image: url("../img/input-bg@1x.svg");
      background-repeat: no-repeat;
      background-position: 10px;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
}


@media (max-width: $mobile-width) {
  .contact {
    max-width: 1366px;
    margin: 0 auto;
    min-height: 667px;

    background-image: url("../img/backpack@1x.png"), url("../img/girl-flag-bg-mobile@1x.jpg");
    background-position: left 21px, center bottom;
    background-size: 103px 162px, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backpack@2x.png"), url("../img/girl-flag-bg-mobile@2x.jpg");
    }

    & h2 {
      font-size: 32px;
      line-height: 39px;

      margin-bottom: 7px;
    }

    & p {
      font-size: 16px;
      line-height: 26px;
      max-width: 100%;
    }
  }

  .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 13.1%;
  }

  .contact__form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 7px;
    width: 287px;

    & input {
      width: 287px;
      margin-bottom: 8px;
    }

    & .contact__form-btn {
      position: relative;
      width: 264px;
    }
  }
}
