.details {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 0;

    width: 100%;
    height: 811px;
    background-image: url("../img/watercolor_bg7@1x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/watercolor_bg7@2x.jpg");
    }
  }
}

.details__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-top: 28px;
  margin-bottom: 50px;

  & h2 {
    @include title;
    margin-bottom: 47px;
    margin-left: 15px;
  }
}

.details__info {
  margin-left: 7%;
  width: 45%;

  & .details__city {
    position: relative;
    font-size: 15px;
    line-height: 22px;

    margin-left: 35px;

    &::before {
      content: url("../img/marker.svg");
      position: absolute;
      top: 0;
      left: -17px;

      width: 12px;
      height: 18px;
    }
  }

  & .details__city-link {
    position: absolute;
    font-weight: 500;
    font-variant: small-caps;
    opacity: 0.74;

    margin-left: 17px;
    outline: none;

    border-bottom: 1px dashed $title;

    &::before {
      content: url("../img/gps.svg");
      position: absolute;
      top: 4px;
      right: -25px;

      width: 16px;
      height: 15px;
    }
  }
}

.details__photo {
  width: 55%;

  display: flex;
  align-items: flex-start;

  & img {
    display: block;
    text-align: center;
    margin-top: 42px;
  }
}

.details__photo-wrapper {
  position: relative;

  &::before {
    content: url("../img/marker-map.svg");
    position: absolute;
    top: 55%;
    right: 23.5%;

    width: 18px;
    height: 28px;
  }
}

/* autoprefixer grid: autoplace */
.details__tutor {
  display: grid;
  grid-template-columns: 25% 75%;

  margin-top: 26px;
  margin-bottom: 31px;
}

.details__tutor-info {
  grid-column: 2;
  grid-row: 1;

  & p {
    padding-left: 8px;
  }
}

.details__tutor-name {
  font-size: 15px;
  line-height: 22px;

  margin-bottom: 14px;


  & span {
    color: $title;
    padding-right: 5px;
  }
}

.details__tutor-photo {
  display: flex;
  justify-content: center;
  align-items: top;

  grid-row: 1/3;

  padding-top: 11px;

  & img {
    display: block;
    border-radius: 50%;
  }
}

.details__tutor-address {
  font-size: 13px;
  line-height: 19px;

  max-width: 265px;
  margin-top: 0;
}

.details__social {
  display: flex;
  grid-column: 2;
  grid-row: 2;

  & li {
    margin-right: 12px;
  }
}

.details__text {
  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;

  margin-left: 15px;
  width: 85%;
}

.details__feedback {
  margin-left: 8%;
}

@media (max-width: $mobile-width) {
  .details {
    &::before {
      content: none;
      background-image: none;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: none;
      }
    }
  }

  .details__wrapper {
    flex-direction: column;
    margin-top: 7px;
    margin-bottom: 31px;

    & h2 {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      margin-bottom: 25px;

      margin-left: 0;
      padding-right: 17px;
    }
  }

  .details__info {
    margin-left: 0;
    padding-left: 3%;
    width: 100%;

    & .details__city {
      margin-left: 27px;
    }
  }

  .details__tutor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 34px;
  }

  .details__tutor-photo {
    padding-top: 11px;
    padding-left: 6px;
    padding-bottom: 3px;
  }

  .details__tutor-name {
    margin-bottom: 12px;
  }

  .details__tutor-address {
    max-width: 100%;
  }

  .details__text {
    font-size: 16px;
    line-height: 26px;

    margin-left: 7px;
    width: 90%;
  }

  .details__photo {
    justify-content: center;
    width: 100%;

    & img {
      margin-top: 0;

      min-height: 420px;
      object-fit: cover;
      object-position: 65% 26px;
    }
  }

  .details__photo-wrapper {
    width: 100%;
    max-width: 400px;

    &::before {
      top: 55%;
      right: 10%;

      width: 26px;
      height: 40px;
    }
  }

  .details__feedback {
    margin-left: 5%;
    margin-right: 5%;
  }
}
