.feedback {
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;

  margin-bottom: 59px;
}

.feedback__info {
  width: 28%;
}

.feedback__form {
  width: 70%;

  & .form__info--feedback {
    position: relative;
    padding-left: 27px;
    padding-top: 10px;
  }
}

.feedback__title {
  font-size: 17px;
  line-height: 25px;
  opacity: 0.87;

  margin-bottom: 12px;
}

.feedback__text {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.5;
  margin-top: 0;
}


@media (max-width: $tablet-width) {
  .feedback__info {
    width: 50%;
  }

  .feedback__form {
    width: 50%;

    & .form__btn--feedback {
      width: 250px;
      padding: 0;
    }

    & .form__info--feedback {
      padding-left: 0;
      padding-top: 20px;
    }
  }
}


@media (max-width: $mobile-width) {
  .feedback {
    display: flex;
    flex-direction: column;

    margin-bottom: 62px;
  }

  .feedback__info {
    width: 100%;
  }

  .feedback__title {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 15px;
  }

  .feedback__form {
    width: 100%;
  }
}
