.intro {
  margin-top: 63px;
  min-height: 615px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/photo_girl@1x.png"), url("../img/israel@1x.png");
  background-position: center, center 5%;
  background-repeat: no-repeat;
  background-size: cover, 74.5%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo_girl@2x.png"), url("../img/israel@2x.png");
  }

  p {
    font-size: 24px;
    font-weight: 700;
    color: $white;
    text-align: center;

    width: 28%;
    margin-top: auto;
    margin-bottom: 35px;
    text-shadow: 0 1px 4px $btn-shadow-012;
  }
}

.intro__scroll {
  position: relative;
  width: 77px;
  min-height: 132px;

  cursor: pointer;
  background: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;

    top: 0;
    right: 0;

    width: 76px;
    height: 131.5px;

    background-image: url("../img/scroll.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    & p {
      width: 40%;
    }
  }
}

@media (max-width: $width-mobile) {
  .intro {
    min-height: 500px;
    margin-top: 0;
    background-image: url("../img/photo_girl-mobile@1x.png"), url("../img/israel-mobile@1x.png");
    background-position: center, center 22%;
    background-size: auto, 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo_girl-mobile@2x.png"), url("../img/israel-mobile@2x.png");
    }

    & p {
      width: 100%;
      font-size: 20px;
      line-height: 24px;

      margin-bottom: 32px;
    }
  }

  .intro__scroll {
    margin-bottom: 38px;
  }
}
