.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include reset;

  & a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: $text;
    display: inline;
    vertical-align: middle;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  & li {
    padding: 15px 15px;
    min-width: 50%;
  }

  & li:first-child {
    text-align: left;
    margin-right: auto;
  }

  & li:nth-child(2n) {
    text-align: right;
    margin-left: auto;
  }

  & .main-nav__call {
    border-bottom: 2px dashed $text;
    font-variant: small-caps;
    margin-right: 4px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    min-height: 92px;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: flex-end;
    padding: 17px 7px;

    & li {
      padding: 0;
      padding-bottom: 5px;
    }

    & li:first-child {
      margin-left: auto;
      margin-right: 0;
      text-align: right;
    }

    & a {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
