.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include reset;

  & a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: $text;
    display: inline-block;
  }

  & li {
    padding: 15px 0;
    min-width: 19%;
  }

  & li:nth-child(4n-3) {
    text-align: left;
    padding-right: 2%;
  }

  & li:nth-child(4n-2) {
    text-align: left;
    padding-right: 2%;
    margin-right: 19%;
  }

  & li:nth-child(4n-1) {
    text-align: right;
    padding-left: 2%;
  }

  & li:nth-child(4n) {
    text-align: right;
    padding-left: 2%;
  }

  & li:last-child {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
  }

  & .main-nav__call {
    display: inline-block;
    border-bottom: 2px dashed $text;
    font-variant: small-caps;
    margin-right: 4px;
  }
}

@media (max-width: $width-mobile) {
  .main-nav__list {
    flex-direction: column;
    align-items: flex-end;
    padding: 18px 8px;

    & li {
      padding: 0;
      padding-bottom: 3px;
    }

    & li:nth-child(4n-3) {
      padding-right: 0;
    }

    & li:nth-child(4n-2) {
      padding-right: 0;
      margin-right: 0;
    }

    & li:nth-child(4n-1),
    li:nth-child(4n) {
      padding-left: 0;
    }

    & a {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
