.popup-header__wrapper {
  display: flex;

  position: absolute;
  width: 480px;
  min-height: 521px;
  left: 50%;
  top: 21%;
  transform: translate(-50%, -21%);

  background: $white;
  box-shadow: 0 14px 28px $btn-shadow-025, 0 10px 10px $btn-shadow-012;
  opacity: 1;
  margin: auto;
  margin-top: 4px;

  height: 521px;
  border-radius: 10px;
}

.popup-header__block {
  display: flex;
  flex-direction: column;

  max-width: 359px;
  margin-top: 47px;
  margin-bottom: 40px;
  margin-left: 48px;

  & h2 {
    @include title;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: none;
    letter-spacing: -0.02em;
  }

  & p {
    font-size: 15px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 360px;
  }
}

.popup-header__close {
  position: absolute;
  right: 32px;
  top: 32px;

  width: 18px;
  height: 17px;

  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.popup-header__close {
  position: absolute;
  right: 32px;
  top: 32px;

  width: 18px;
  height: 17px;

  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: $mobile-width) {
  .popup-header__wrapper {
    justify-content: center;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    transform: none;

    background: $white;
    box-shadow: none;
    opacity: 1;
    margin-top: 0;
    border-radius: 0;
  }

  .popup-header__block {
    max-width: 100%;
    margin-top: 169px;
    margin-left: 17px;
    margin-right: 17px;
    text-align: center;
    align-items: center;

    & h2 {
      font-size: 24px;
      line-height: 29px;
      text-decoration: none;
      margin-bottom: 17px;
    }

    & p {
      font-size: 14px;
      line-height: 22px;
      max-width: 285px;
    }
  }

  .popup-header__close {
    right: 24px;
    top: 24px;
  }

  .popup-header__form {
    width: 100%;
  }

  .popup-header__form {

    & .form__btn {
      width: 265px;

      margin-bottom: 15px;
      margin-top: 24px;
    }
  }

  .popup-header__close {
    position: absolute;
    right: 25px;
    top: 25px;

    width: 18px;
    height: 17px;

    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }
}
