.tabs__list {
  display: flex;
  flex-direction: column;

  min-width: 228px;
  min-height: 324px;
}

.tabs__inset {
  display: none;
  padding-left: 10%;
}


.tabs__inset.tabs__inset--active {
  display: block;
}

.tabs__content {
  @include reset;

  display: flex;
  width: 55%;
}

.tabs__item {
  position: relative;
  font-size: 15px;
  line-height: 18px;

  min-height: 68px;
  padding-left: 70px;
  padding-top: 20px;
  cursor: pointer;
  color: $text;

  & span {
    opacity: 0.87;
  }

  &:not(:first-child) {
    padding-top: 29px;
    padding-bottom: 25px;
  }
}

.tabs__item.tabs__item--active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-tabs.svg");

    width: 228px;
    height: 68px;

    top: 0;
    left: 0;
  }

  &:not(:first-child) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  text-transform: uppercase;
  color: $white;
}

.tabs__item--basic::after,
.tabs__item--academ::after,
.tabs__item--internship::after,
.tabs__item--volunteering::after,
.tabs__item--religious::after {
  content: "";
  position: absolute;

  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
}

.tabs__item--basic::after {
  top: 15px;
  left: 21px;

  background-image: url("../img/1_b.svg");
}

.tabs__item--academ::after {
  top: 15px;
  left: 18px;

  background-image: url("../img/2_w.svg");
}

.tabs__item--internship::after {
  top: 25px;
  left: 20px;

  background-image: url("../img/3_b.svg");
}

.tabs__item--volunteering::after {
  top: 25px;
  left: 20px;

  background-image: url("../img/4_b.svg");
}

.tabs__item--religious::after {
  top: 25px;
  left: 25px;

  background-image: url("../img/5_b.svg");
}

.tabs__item--active.tabs__item--basic::after {
  background-image: url("../img/1_b-active.svg");
}

.tabs__item--active.tabs__item--academ::after {
  background-image: url("../img/2_w-active.svg");
}

.tabs__item--active.tabs__item--internship::after {
  background-image: url("../img/3_b-active.svg");
}

.tabs__item--active.tabs__item--volunteering::after {
  background-image: url("../img/4_b-active.svg");
}

.tabs__item--active.tabs__item--religious::after {
  background-image: url("../img/5_b-active.svg");
}


.tabs__item:not(.tabs__item--active):hover.tabs__item--basic::after {
  background-image: url("../img/1_b-hover.svg");
}

.tabs__item:not(.tabs__item--active):hover.tabs__item--academ::after {
  background-image: url("../img/2_w-hover.svg");
}

.tabs__item:not(.tabs__item--active):hover.tabs__item--internship::after {
  background-image: url("../img/3_b-hover.svg");
}

.tabs__item:not(.tabs__item--active):hover.tabs__item--volunteering::after {
  background-image: url("../img/4_b-hover.svg");
}

.tabs__item:not(.tabs__item--active):hover.tabs__item--religious::after {
  background-image: url("../img/5_b-hover.svg");
}

.tabs__item:not(.tabs__item--active):hover span {
  color: $btn-gradient;
  opacity: 1;
}

@media (max-width: $mobile-width) {
  .tabs__list {
    flex-direction: row;

    min-width: auto;
    min-height: 48px;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .tabs__item {
    min-height: 48px;

    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 12px;
    padding-top: 17px;
    margin-bottom: 10px;

    height: 48px;

    &:not(:first-child) {
      padding-top: 17px;
      padding-bottom: 0;
    }
  }

  .tabs__item.tabs__item--active {
    clip-path: none;
    border-radius: 53px;
    background: linear-gradient(108.42deg, $btn-gradient 20.46%, $btn-yellow 65.31%);

    &::before {
      content: none;
      background-image: none;
    }

    &:not(:first-child) {
      padding-top: 17px;
      padding-bottom: 15px;
      padding-right: 15px;
    }
  }

  .tabs__item--basic::after,
  .tabs__item--academ::after,
  .tabs__item--internship::after,
  .tabs__item--volunteering::after,
  .tabs__item--religious::after {
    top: 12px;
    left: 10px;

    width: 35px;
    height: 35px;

    transform: scale(0.9);
    background-repeat: no-repeat;
  }

  .tabs__item--academ::after {
    top: 8px;
  }

  .tabs__content {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
  }

  .tabs__item--one {
    margin-left: -40px;
  }

  .tabs__inset {
    padding-left: 5%;
  }
}
