$title: #1fc0fc;
$text:#484848;
$white: #ffffff;
$border-input: #e3e3e3;

$btn-yellow: #ffd701;
$btn-gradient: #ffc341;
$btn-shadow-012: rgba(0, 0, 0, 0.12);
// $decoration-color--05:  rgba(10, 217, 198, 0.5);
// $bg-grey: #f6f7f9;
// $bg-dark: #131314;
// $border-nav: rgba(255, 255, 255, 0.2);
// $border-input: #c9ccd4;
// $text-opacity-07:  rgba(255, 255, 255, 0.7);
// $text-opacity-08:  rgba(255, 255, 255, 0.8);
// $text-opacity-05:  rgba(28, 28, 28, 0.5);
// $black-opacity-07:  rgba(0, 0, 0, 0.7);
// $burger-light: #f6f6f6;
// $burger-grey:#e5e5e5;
// $text-burger:#48494d;
// $burger-hover:#8c8d91;

$font-extra: "Raleway", "Arial", sans-serif;
$font-title: "Montserrat", "Arial", sans-serif;
$font-basic: "Fira Sans", "Helvetica", sans-serif;

$width-mobile: 767px;

$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
