$title: #1fc0fc;
$blue-hover: #63d3fd;
$text:#484848;
$black-gradient:#a19b9b;
$white: #ffffff;
$border-input: #e3e3e3;
$bg-play: #f4f4f4;
$border-play-032: rgba(255, 255, 255, 0.32);
$border-02: rgba(72, 72, 72, 0.2);

$btn-yellow: #ffd701;
$btn-gradient: #ffc341;
$btn-shadow: rgba(0, 0, 0, 0);
$btn-shadow-05: rgba(0, 0, 0, 0.05);
$btn-shadow-024: rgba(3, 3, 3, 0.24);
$btn-shadow-012: rgba(0, 0, 0, 0.12);
$btn-shadow-025: rgba(0, 0, 0, 0.25);
$input-error: #ff0000;

$overlay-modal: rgba(235, 235, 235, 0.95);

$font-extra: "Raleway", "Arial", sans-serif;
$font-title: "Montserrat", "Arial", sans-serif;
$font-basic: "Fira Sans", "Helvetica", sans-serif;

$mobile-width: 767px;
$breakpoint: 1170px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
