$title: #1fc0fc;
$text:#484848;
$white: #ffffff;
$border-input: #e3e3e3;

// $text-opacity-087: rgba(72, 72, 72, 0.87);
// $text-opacity-074: rgba(72, 72, 72, 0.74);
// $text-opacity-05: rgba(72, 72, 72, 0.25);

$btn-yellow: #ffd701;
$btn-gradient: #ffc341;
$btn-shadow-012: rgba(0, 0, 0, 0.12);
$btn-shadow-025: rgba(0, 0, 0, 0.25);
$overlay-modal: rgba(235, 235, 235, 0.95);


$font-extra: "Raleway", "Arial", sans-serif;
$font-title: "Montserrat", "Arial", sans-serif;
$font-basic: "Fira Sans", "Helvetica", sans-serif;

$width-mobile: 767px;

$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
